DB_URL=
DB_USER=
DB_PASSWORD=
GEOPUB_URL=
GEOPUB_USER=
GEOPUB_PASSWORD=
CORS_ORIGINS=

# Log levels (TRACE, DEBUG, INFO, WARN, ERROR). Defaults to INFO if not set.
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO
